@use '../../style/variables' as v;

.unit-detail {
  min-height: 68vh;

  padding-top: 2rem;

  display: flex;
  justify-content: center;

  .unit-detail__table {
    width: 60%;

    > div:first-of-type {
      background-color: v.$unit-list-background-color;

      border: 1px solid v.$unit-list-border-color;

      box-shadow: none;
    }

    td,
    th {
      padding: 0.5rem;

      text-align: center;
    }

    tbody tr > td:first-of-type {
      width: 20%;

      font-weight: 500;
    }
    tbody tr > td:last-of-type {
      width: 80%;
    }
  }
}
