@use '../../style/variables' as v;

.unit-details {
  min-height: 68vh;

  .unit-details__table {
    width: 80%;

    margin-left: 10%;

    > div:first-of-type {
      background-color: v.$unit-list-background-color;

      border: 1px solid v.$unit-list-border-color;

      box-shadow: none;
    }

    td,
    th {
      padding: 8px;
    }
  }
}
