.wood,
.food,
.gold {
  display: flex;
  align-items: center;

  > div:first-of-type {
    width: 5%;

    margin-right: 4rem;
  }

  > span:last-of-type {
    width: 30%;

    margin-right: 2rem;
  }
}
