.wood,
.food,
.gold {
  display: flex;
  align-items: center;

  > div:first-of-type {
    width: 5%;

    margin-right: 4rem;

    .checkbox-label-container {
      width: 1.8rem;

      .checkbox-label-container__img {
        width: 100%;

        vertical-align: middle;
      }
    }
  }

  > span:last-of-type {
    width: 30%;

    margin-right: 2rem;
  }
}
