@use './style/variables' as v;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  a {
    color: v.$link-color;
    text-decoration-color: v.$link-text-decoration-color;

    // -webkit-text-decoration: underline

    &:hover {
      text-decoration-color: inherit;
    }
  }
}
