@use '../style/variables' as v;

.layout {
  padding: 4rem;
  margin: 1rem;

  background-color: v.$layout-background-color;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 2rem;

    h1 {
      font-family: 'Cormorant';
    }

    .nav {
      display: flex;
      align-items: center;
      justify-content: center;

      .nav__item {
        list-style: none;

        margin-left: 1rem;
      }
    }
  }
}
