@use '../style/variables' as v;

.layout {
  padding: 64px;
  margin: 16px;

  background-color: v.$layout-color;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 32px;

    .nav {
      display: flex;
      align-items: center;
      justify-content: center;

      .nav__item {
        list-style: none;

        margin-left: 16px;
      }
    }
  }
}
